body
    {
    margin: 0;
    padding: 0;
    }

.ui-dialog .ui-dialog-titlebar
    {
    padding: 0 10px;
    }

.no-close .ui-dialog-titlebar-close
    {
    display: none;
    }

#MainCanvas, #GameMenu
    {
    float: left;
    }

.button
    {
    cursor: pointer;
    background-color: #edddde;
    }

.button:hover
    {
    background-color: #edcbd9;
    }

#GameMenu
    {
    margin-left: 10px;
    display: none;
    }

#GameMenu > *
    {
    width: 170px;
    text-align: center;
    margin: 10px 0 50px 0;
    }

#Scores > *
    {
    margin: 2px 0;
    }

.playerTurn
    {
    background-color: #edcf90;
    }

#LoadMessage
    {
    position: fixed;
    text-align: center;
    }
