body {
    margin: 0;
    padding: 0;
}

#MainCanvas,
#GameMenu {
    float: left;
}

.hidden {
    display: none;
}

.button {
    cursor: pointer;
    background-color: #edddde;
}

.button:hover {
    background-color: #edcbd9;
}

#GameMenu {
    margin-left: 10px;
}

#GameMenu > * {
    width: 170px;
    text-align: center;
    margin: 10px 0 50px 0;
}

#Scores > * {
    margin: 2px 0;
}

.playerTurn {
    background-color: #edcf90;
}

#LoadMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}

/* Improvements to the 'Dialog' component */

.dialog {
    min-height: 150px;
    font-size: 140%;
}

/* Dialog Message */

#EndRoundContainer {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.firstPlace {
    color: blue;
}

.aboveLimit {
    color: darkred;
}

.player {
    font-weight: bold;
}
